---
layout: single
---

{% if page.venue and page.date %}
  <p>{{ page.type }}, <i>{{ page.venue }}</i>, {{ page.date | default: "1900-01-01" | date: "%B %d, %Y" }}</p>
{% elsif page.date %}
  <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
{% endif %}

{% if page.location %}
  <p>Location: {{ page.location }}</p>
{% endif %}

{{ content }}
